@font-face {
    font-family: genshinfont;
    src: url(./assets/zh-cn.ttf);
}
*{
    font-family: genshinfont;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  
}

html body{

     overflow-x: hidden;
}
.title{
    font-size: 50px;
    font-weight: 100;
    position: relative;
    text-shadow: 2px 2px 2px black;
}
.secondtitle{
        text-shadow: 2px 2px 2px black;

}
#message{
    padding-top: 5px;
    position: fixed;
    display: inline;

}
.inner-text{
         animation-name: example;
         animation-duration: .6s;
          background-color: rgb(187, 203, 218);
          opacity: 0.75;
          border-left: transparent;
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
          -moz-user-select: -moz-none;
          -khtml-user-select: none;
          -webkit-user-select: none;

    
          -ms-user-select: none;
          user-select: none;
          transition: box-shadow 0.3s ease-in-out;
          display: inline-block;

}
.arrow-left {
    animation-name: example;
    animation-duration: .6s ;

    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 13px solid transparent;
    position: relative;
    top: 7px;
    border-right: 11px solid rgb(187, 203, 218);
    display: inline-block;
}
.container, .commands{
    position: relative;
    color: white;
       text-align: center;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;


-ms-user-select: none;
user-select: none;
}
.commands{
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table{
    background-color: rgba(0, 0, 0, 0.274);
}
  @media screen and (max-width: 1390px),
   screen and (max-height: 815px) {
      .inner {
          display: none;
      }
       .mobilecommands {
          
             visibility: visible !important;
             position: fixed;
             top: 50%;
              position: absolute;
              top: 60%;
              left: 50%;
                -ms-transform: translate(-60%, -50%);
                transform: translate(-60%, 150%);
       }
      body{
          overflow-x: hidden;
          overflow-y: hidden;
      }
    
  }

  .mobilecommands{
      visibility: hidden;   
  }
.more:hover{
    cursor: pointer;
}
body::-webkit-scrollbar{
    display: none;
}
.table{
       color: white !important;
       font-weight: 100;

}
.row{
    text-align: center;
}
.col-sm-4{
    background-color: rgb(187, 203, 218);
    opacity: 0.75;
    border: solid black 1px;
         box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
         transition: box-shadow 0.3s ease-in-out;

}
.col-sm-4:hover{
             box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
     transition: box-shadow 0.3s ease-in-out;
     cursor: pointer;
     
}
#description1, #description2, #description3{
    animation-name: example;
    animation-duration: .6s;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.1 !important;
    }
}
.empty{
    visibility: hidden;
}
.discord{
    height: 50px;
    position: relative;
    display: inline;
}
.discord:hover{
    cursor: pointer;
}
.commstitle{
    font-size: 40px;
}