@font-face {
    font-family: genshinfont;
    src: url(./assets/zh-cn.ttf);
}

* {
    font-family: genshinfont;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
.entity-content__description,
.entity-queue-message__indicator,
.entity-table,
.entity-sidebar__controls,
.table {
    background: transparent;
}
.entity-queue-message__indicator{
    display: none;
}
.title, .secondtitle, .site-nav {
    text-shadow: 2px 2px 2px black;
    color: white;
}
.site-nav{
    background-color: transparent;
              box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);

}
.col-sm-4, th, tr{
    color: white;
}